<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XZGameSocial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38FEB79D1E53E77D0090DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FEB7B11E53E77D0090DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FEB7BC1E53E77D0090DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
